/********************/
// COLORS

// Primary
$primary-color: hsl(225, 100%, 94%);
$secondary-color: hsl(245, 75%, 52%);

// Neutral
$very-pale-blue: hsl(225, 100%, 98%);
$desat-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
